@page "/counter"
@rendermode InteractiveAuto
@inject ILocalStorageService LocalStorage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="mt-5">
    <NavLink class="btn btn-primary" href="counter/menu-marcado-pela-rota">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Menu é marcado pela rota
    </NavLink>
</div>

@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        Console.WriteLine("Entrou 2");
        await LocalStorage.SetItemAsync("name2", "Lucas");

        var name = await LocalStorage.GetItemAsync<string>("name2");
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}