@rendermode InteractiveServer
@page "/render-fragment"

<!--Tudo dentro do Accordion eh um ChildContent -->
<Accordion>

    <AccordionItem Title="Seção 1">
        Conteúdo da Seção 1.
    </AccordionItem>

    <AccordionItem Title="Seção 2">
        Conteúdo da Seção 2.
    </AccordionItem>

    <AccordionItem Title="Seção 3">
        Conteúdo da Seção 3.
    </AccordionItem>

</Accordion>

<br />
<br />
<br />

<CardComponent>
    <Cabecalho>
        <h1>Meu Cabeçalho</h1>
    </Cabecalho>
    <Corpo>
        <h3>Teste</h3>
        <p>Este é o conteúdo principal do cartão.</p>
    </Corpo>
    <Rodape>
        <small>Rodapé do cartão</small>
    </Rodape>
</CardComponent>